@tailwind base;
@tailwind components;
@tailwind utilities;

.purp-gradient {
  background: linear-gradient(to right, #53087e 0%, #9010b0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.testing {
  box-shadow: rgb(217, 217, 217) 20px 20px 60px 0px,
    rgb(255, 255, 255) -20px -20px 60px 0px;
}
